/* General Reset */
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
html {
  font-size: 16px;
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {

  font-size: 22px;
}

body {

  line-height: 1.6;
  font-family: PoetsenOne, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: #11071F;
  color: white;

    overflow-x: hidden;
  
  
  
}

/* Header Styles */

.Name {
  font-size: 32px;
  font-weight: bold;
  color:#763CAC;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  background-color: #1A0B2E;

}

.nav-list {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-list li {
  margin-left: 20px;
}

.nav-list a {
  text-decoration: none;
  color:#ffffff;;
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: #763CAC;
}

.nav-list a.active {
  color: #763CAC;
  background-color:#ffffff;
  padding: 10px;


}
/* Responsive Design */
@media (max-width: 768px) {

  /*responsive header*/
  .nav {
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
  }

  .nav-list {
    flex-direction: column;
    margin-top: 10px;
  }

  .nav-list li {
    margin: 10px 0;
  }

  .headline-content h1 {
    font-size: 3rem;
  }

  .headline-content {
    width: 80%;
    margin: 0 auto;
  }
  p{
    font-size: 16px;
  }

}